<!-- CONTENT START -->
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">PAGAMENTOS PENDENTES</div>
      <div class="billing-list">
        <div class="billing-list-item">
          <div class="row">
            <div class="col s12 m6">
              <div class="billing-list-item-title">Abril / 2019</div>
              <div class="billing-list-item-deadline">Vencimento: 05/04/2019</div>
              <a href="#" class="billing-list-item-details">Ver detalhes</a>
            </div>
            <div class="col s12 m6">
              <div class="billing-list-item-actions">
                <a href="#" class="btn billing-list-item-link">Comprovante IR</a>
                <a href="#" class="btn billing-list-item-link">Pagar Online</a>
                <a href="#" class="btn billing-list-item-link">Imprimir Boleto</a>
              </div>
            </div>
          </div>
        </div>
        <div class="billing-list-item">
          <div class="row">
            <div class="col s12 m6">
              <div class="billing-list-item-title">Maio / 2019</div>
              <div class="billing-list-item-deadline">Vencimento: 05/05/2019</div>
              <a href="#" class="billing-list-item-details">Ver detalhes</a>
            </div>
            <div class="col s12 m6">
              <div class="billing-list-item-actions">
                <a href="#" class="btn billing-list-item-link">Comprovante IR</a>
                <a href="#" class="btn billing-list-item-link">Pagar Online</a>
                <a href="#" class="btn billing-list-item-link">Imprimir Boleto</a>
              </div>
            </div>
          </div>
        </div>
        <div class="billing-list-item">
          <div class="row">
            <div class="col s12 m6">
              <div class="billing-list-item-title">Junho / 2019</div>
              <div class="billing-list-item-deadline">Vencimento: 05/06/2019</div>
              <a href="#" class="billing-list-item-details">Ver detalhes</a>
            </div>
            <div class="col s12 m6">
              <div class="billing-list-item-actions">
                <a href="#" class="btn billing-list-item-link">Comprovante IR</a>
                <a href="#" class="btn billing-list-item-link">Pagar Online</a>
                <a href="#" class="btn billing-list-item-link">Imprimir Boleto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTENT END -->