<!-- CONTENT START -->
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">TRABALHOS PENDENTES</div>
      <div class="billing-list">
        <div class="billing-list-item">
          <div>
            <div class="billing-list-item-title">Sistemas Operacionais</div>
            <div class="billing-list-item-deadline">Prazo de entrega: 01/04/2019</div>
            <a href="#" class="billing-list-item-details">Ver detalhes</a>
          </div>
        </div>
      </div>
      <div class="billing-list">
        <div class="billing-list-item">
          <div>
            <div class="billing-list-item-title">Fundamentos da Programação</div>
            <div class="billing-list-item-deadline">Prazo de entrega: 27/03/2019</div>
            <a href="#" class="billing-list-item-details">Ver detalhes</a>
          </div>
        </div>
      </div>
      <div class="billing-list">
        <div class="billing-list-item">
          <div>
            <div class="billing-list-item-title">Comunicação</div>
            <div class="billing-list-item-deadline">Prazo de entrega: 29/03/2019</div>
            <a href="#" class="billing-list-item-details">Ver detalhes</a>
          </div>
        </div>
      </div>
      <div class="billing-list">
        <div class="billing-list-item">
          <div>
            <div class="billing-list-item-title">Interface Humano Computador</div>
            <div class="billing-list-item-deadline">Prazo de entrega: 03/04/2019</div>
            <a href="#" class="billing-list-item-details">Ver detalhes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTENT END -->